form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  position: relative;
  color:#fff;
  font-weight: 400;
  background: rgba(19,22,4,0.2);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(19,22,4,0.1);
  border-radius: 10px;
  margin-top: 10vh;
}

input {
  border: 1px solid #cfcfcf;
  border-right: 0;
  height: 30px;
  font: inherit;
  padding: 3px;
  line-height: 1;
  text-align: left;
  outline: 0;
  border-radius: 10px;
  width: 120px;
  transition: width 0.3s ease;
}
